<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277041505927-0cn22g17a4rkj9ilutiobeuf65cp4alp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277041505927-0cn22g17a4rkj9ilutiobeuf65cp4alp</string>
	<key>API_KEY</key>
	<string>AIzaSyAvbN3wnDTHkiQM7RYPQE1TTo8PNyQvfz0</string>
	<key>GCM_SENDER_ID</key>
	<string>277041505927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.knu.2023MobileAppProg2.CampusConnect</string>
	<key>PROJECT_ID</key>
	<string>campus-connect-a5214</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-connect-a5214.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277041505927:ios:c911302e8b61256ff8ba22</string>
</dict>
</plist>